<h1 class="text-primary mb-4"><%= @skill.name %></h1>

<% if @skill.description.present? %>
  <p><strong>Description:</strong> <%= @skill.description %></p>
<% end %>

<h3 class="text-primary mb-3">Certificates using this skill</h3>

<% if @certificates.any? %>
  <ul>
    <% @certificates.each do |certificate| %>
      <li>
        <h4><%= certificate.name %></h4>
        <p>
          <strong>Issued by:</strong> <%= certificate.issuer.name %><br>
          <strong>Issued on:</strong> <%= certificate.issued_on %><br>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No certificates are using this skill yet.</p>
<% end %>

