<h1>Manage Skills</h1>
<br>
<ul>
  <% @skills.each do |skill| %>
    <li>
      <h4><%= skill.name %> — <%= pluralize(skill.certificates.where(user_id: @user.id).count, "certificate") %></h4>

      <%= link_to "Details", skill_path(skill) %> |
      <%= link_to "Edit", edit_skill_for_user_path(@user, skill) %> |

      <% if skill.certificates.where(user_id: @user.id).any? %>
        <span>Delete (disabled)</span>
      <% else %>
        <%= link_to "Delete", delete_skill_for_user_path(@user, skill), data: { turbo_method: :delete, turbo_confirm: "You are about to delete '#{skill.name}' skill, are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<br><br><hr><br>

<p><%= link_to "Create New Skill", new_skill_for_user_path(@user) %></p>
<p><%= link_to "Return to Dashboard", user_dashboard_path(@user) %></p>